body{
    background-color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


p {
    color:blue

}
h1, h2{ color:brown

}
.listhob {
    font-style:italic
    
}